@using EcommerceApp.Model.Models;
@using EcommerceApp.Database;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    EcommerceDb _db = new EcommerceDb();
    ICollection<Product> Products = _db.Products.Where(p => p.Featured == true).ToList();
    ICollection<ProductPhoto> ProductPhotos = _db.ProductPhotos.ToList();
}

<div class="span9">
    <div class="well well-small">
        <h4>Letest Products <small class="pull-right">200+ featured products</small></h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/b1.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/b2.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/b3.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/b4.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/5.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/6.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/7.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/8.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/9.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/10.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/11.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/1.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/2.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/3.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/4.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img src="~/clientlayouttemplate/themes/images/products/5.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>
    <h4>Featured Products </h4>
    <ul class="thumbnails">
        @foreach (Product item in Products)
        {
            <li class="span3">
                <div class="thumbnail">
                    @foreach (ProductPhoto item2 in ProductPhotos)
                    {
                        if (item.Id == item2.ProductId)
                        {
                            <a href=""><img style="height:100px; width: 200px"  src="~/@item2.Photo"></a>
                            break;
                        }
                    }
                    <div class="caption">
                        <h5>@item.Name</h5>
                        <p>
                            @item.Detail
                        </p>
                        <h4 style="text-align:center"><a class="btn"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$@item.Price</a></h4>
                    </div>
                </div>
            </li>
        }
    </ul>

</div>

